html {
  color: #000000;
}

body {
  height: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: #ffffeb;
  color: #000;
  font-family: Artial, sans-serif;
  font-size: 12px;
}

* {
  margin: 0;
  padding: 0;
}

a {
  font-style: normal;
  color: #0045c6;
  text-decoration: none;
  outline: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.sprite,
.thumb-twitter,
.logo-link,
.stamp {
  background-image: url("https://statics.iyocdn.com/ja/img/sprite.png");
}

main {
  max-width: 955px;
  margin: 0 auto;
}

main .container {
  padding-top: 10px;
}

main .container .all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .container .all .left {
  width: 365px;
}

main .container .all .left .logo {
  overflow: hidden;
  z-index: 1;
  width: 100%;
  margin-bottom: 10px;
}

main .container .all .left .logo .logo-link {
  background-position: -27px -102px;
  display: block;
  height: 67px;
}

main .container .all .left .logo a {
  float: left;
  width: 100%;
}

main .container .all .left .logo a span {
  color: #c0a32b;
  float: left;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 0;
  padding: 4px 0 0;
}

main .container .all .left .home-youtube {
  height: 263px;
  width: 100%;
  overflow: hidden;
}

main .container .all .left .home-youtube a {
  display: block;
}

main .container .all .left .home-youtube a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main .container .all .right {
  width: calc(100% - 365px);
  position: relative;
}

main .container .all .right .donation-container {
  position: absolute;
  top: 0;
  left: 24px;
  width: 255px;
}

main .container .all .right .donation-container .donation-box .newadd-link {
  border: 1px solid #e0ba53;
  background: #f7d661;
  background: -webkit-gradient(linear, left top, left bottom, from(#fcefb1), to(#f7d65f));
  background: linear-gradient(to bottom, #fcefb1, #f7d65f);
  background: -o-linear-gradient(to bottom, #fcefb1, #f7d65f);
  padding: 8px 5px;
  border-radius: 4px;
  text-shadow: rgba(0, 0, 0, 0.4) 0 1px 0;
  color: #0045c6;
  font-size: 15px;
  vertical-align: middle;
  width: 215px;
  float: left;
  margin: 0 0 11px 3px;
  cursor: pointer;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

main .container .all .right .donation-container .donation-box .newadd-link:hover {
  color: #0045c6;
  background: #fcefb1;
  background: -webkit-gradient(linear, left top, left bottom, from(#f7d661), to(#fcefb1));
  background: linear-gradient(to bottom, #f7d661, #fcefb1);
  background: -o-linear-gradient(to bottom, #f7d661, #fcefb1);
}

main .container .all .right .donation-container .donation-box .ad-bar {
  text-align: left;
  position: relative;
  background: #fffee9;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmVlOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmYxZDciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  /* FF3.6+ */
  /* Chrome,Safari4+ */
  /* Chrome10+,Safari5.1+ */
  /* Opera 11.10+ */
  /* IE10+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(bottom, from), color-stop(0%, #fffee9), to(#fff1d7));
  background: linear-gradient(from bottom to top, #fffee9 0%, #fff1d7 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffee9', endColorstr='#fff1d7',GradientType=0 );
  /* IE6-8 */
  padding: 20px 7px 10px 11px;
  float: left;
  width: 215px;
  -webkit-box-shadow: 0 0 5px #c3a558;
  box-shadow: 0 0 5px #c3a558;
  border-radius: 4px;
}

main .container .all .right .donation-container .donation-box .ad-bar .txt1 {
  text-align: left;
  position: relative;
  width: 215px;
  line-height: 16px;
}

main .container .all .right .donation-container .donation-box .ad-bar .txt1.txt2 {
  font-size: 12px;
  float: left;
  width: 235px;
}

main .container .all .right .donation-container .donation-box .ad-bar .txt1.txt2 span {
  color: #f93b3b;
}

main .container .all .right .donation-container .donation-box .ad-bar .txt1.status {
  background: url(https://statics.iyocdn.com/ja/img/donation-status.png) no-repeat scroll -8px top;
  float: left;
  width: 100%;
}

main .container .all .right .donation-container .donation-box .ad-bar .txt1 ul {
  width: 206px;
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
  height: 22px;
  padding-left: 28px;
}

main .container .all .right .donation-container .donation-box .ad-bar .txt1 ul.top {
  padding-top: 14px;
  height: 20px;
}

main .container .all .right .donation-container .donation-box .ad-bar .txt1 ul.bottom {
  padding-top: 10px;
}

main .container .all .right .donation-container .donation-box .ad-bar .txt1 ul li {
  float: left;
  width: 39px;
  margin-left: 25px;
}

main .container .all .right .donation-container .donation-box .ad-bar .flag-square {
  width: 15px;
  height: 11px;
  border: 1px solid #e1e3e2;
  background: #fff;
  position: relative;
  float: left;
  margin: 1px 7px 0 0;
}

main .container .all .right .donation-container .donation-box .ad-bar .flag-square .red-circle {
  background: red;
  border-radius: 70px;
  height: 7px;
  left: 4px;
  position: absolute;
  top: 2px;
  width: 7px;
}

main .container .all .right .donation-container .donation-box .ad-bar .red-text {
  color: #f93b3b;
}

main .container .all .right .donation-container .donation-box .ad-bar .up-triangle {
  width: 23px;
  height: 23px;
  background: #fffeea;
  -webkit-box-shadow: 2px -2px 2px -1px #c3a558;
          box-shadow: 2px -2px 2px -1px #c3a558;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  left: 116px;
  position: absolute;
  top: -7px;
  z-index: 0;
}

main .container .all .right #jp-prefectures {
  height: 705px;
  width: 551px;
  margin-left: auto;
}

main .container .all .right #jp-prefectures img.maphilighted {
  width: 551px;
  height: 705px;
}

main footer .copyright {
  font-size: 10px;
  margin: 0 auto;
  text-align: center;
  padding: 0 0 20px;
}

main footer .copyright .ft_sep {
  border-bottom: 1px solid #ffd99e;
  clear: both;
  height: 7px;
  margin: 0 auto 7px;
  position: relative;
}

main footer .copyright .ft_sep .stamp-red01 {
  position: absolute;
  background: none repeat scroll 0 0 transparent;
  border: 3px solid #d91b12;
  border-radius: 65px;
  height: 55px;
  width: 55px;
  padding: 2px;
  right: 120px;
  top: -25px;
}

main footer .copyright .ft_sep .stamp-red01 .stamp-red02 {
  background: none repeat scroll 0 0 transparent;
  border: 1px solid #d91b12;
  border-radius: 65px;
  height: 53px;
  width: 53px;
}

main footer .copyright .ft_sep .stamp-red01 .stamp-red02 .stamp-text {
  -webkit-transform: rotate(-20deg);
  transform: rotate(-20deg);
  margin: 0;
  padding: 10px 0;
  padding: 13px 0;
  color: #d91b12;
  font-size: 13px;
  line-height: 16px;
}

main footer .copyright a {
  margin-right: 5px;
}

main footer .copyright a:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=style.css.map */